<div class="center hero-unit">
  <h1>Beaver Logic</h1>

  <h2>
   <p>
   	BEAVER LOGIC
	Address: FF – 1,2, JBR Arcade </br>
	Science City Road </br>
	Ahmedabad, Gujarat, India </br> 
	Email: sales@beaverlogic.com </br>
    </p>
  </h2>
</div>

