<div class="center hero-unit">
  <h1>Welcome to the Project Tracking</h1>

   <%= link_to "List Projects" , users_path, class: "btn btn-large btn-primary" %>
   <%= link_to "New Project" , '/users/new', class: "btn btn-large btn-primary" %> 


</div>

