<div class="center hero-unit">
  <h1>Welcome to the Project Tracking</h1>

   <%= link_to "List Projects" , '/users', class: "btn btn-large btn-primary" %>
   <%= link_to "Create Project", '/users/new', class: "btn btn-large btn-primary" %>  


</div>

