<div class="center hero-unit">
  <h1>Welcome to the Project Tracking</h1>
<table align="center"text-align="center" cellpadding="10" cellpadding="10">
<tr>
<td><%= link_to "List Projects" , 'projects/', class: "btn btn-large btn-info" %></td>
<td> <%= link_to "New Project" , '/projects/new', class: "btn btn-large btn-info" %> </td>

</tr>
<tr>

<td><%= link_to "List Client" , '/clients', class: "btn btn-large btn-info" %> </td>
<td><%= link_to "New Client" , '/clients/new', class: "btn btn-large btn-info" %></td>
</tr>
</table>



</div>

