<div class="center hero-unit">
  <h1>Welcome to the Project Tracking</h1>

<%= link_to "List Projects" , 'projects/', class: "btn btn-large btn-info" %>
<%= link_to "New Project" , '/projects/new', class: "btn btn-large btn-info" %> 
<br /><br />
<%= link_to "List Client" , '/clients', class: "btn btn-large btn-info" %> 
<%= link_to "New Client" , '/clients/new', class: "btn btn-large btn-info" %>




</div>

