<div class="center hero-unit">
  <h1>Welcome to the Project Tracking</h1>

<%= link_to "List Projects" , 'projects/', class: "btn btn-large btn-primary" %>
   <%= link_to "New Project" , '/projects/new', class: "btn btn-large btn-primary" %> 


</div>

