<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Project Tracking", '/static_pages/home', id: "logo" %>         
        </div>
      </div>
    </header>